.btn {
  margin: 0px;
  border-radius: 0;
  font-size: 14px;
  line-height: 14px;
  color: $fontColor;
  border: 1px solid #12171a;
  padding: 8px 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-shadow: none;
  text-align: center;

  @include gradient-vertical(#1b1e23, #111214);
  @include transition(all .5s);

  &:hover,
  &.active {
    @include gradient-horizontal(#f1f3f0, #bfc1bc);
    color: black;
    text-decoration: none;
    border: 2px solid #ffffff;
  }

  &:hover {
    @include scale(1.1);
    @include box-shadow(0 0 5px 1px #5990b7);
  }

}