body,
html {
  font-family: 'Oswald', sans-serif;
  color: $fontColor;
  font-size: $baseFontSize;
}

h1 {
  font-size: $baseFontSize + 47px;
  line-height: 25px;
  font-weight: bold;
  margin: 20px 0 25px;
  padding: 0px;
  text-transform:uppercase;
}

a {
  text-decoration: none;
  font-weight: bold;
  text-shadow: none;
  color: $highlightColor;
  display: inline-block;
  @include transition(all .5s);

  &:hover {
    background-color: $highlightColor;
    color: $fontColor;
  }
}