<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="import" href="components/layout.html">
</head>
<body>
    <script type="text/javascript" src="assets/bundle.js" charset="utf-8"></script>
</body>
</html>