.activity {
  background-color: $color-background-alternate;
  padding: $gutter;
  position: relative;

  @include breakpoint($brpt-header-split) {
    &:before {
      position: absolute;
      top: 30px;
      left: 0px;
      content: '';
      width: 30px;
      height: 30px;
      background-color: $color-background-alternate;
      display: block;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.activity--dark {
  background-color: $color-background;
  &:before {
    background-color: $color-background;
  }
}

.activity_title {
  margin: 0;
  padding: 0;
}

.activity_anchor {
  @include anchor;
  border-bottom: 1px solid $color-text-secondary;
  padding: 10px 0;
  display: block;
}

.activity_description {
  margin: 10px 0 0;
}

