.content_section {
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem 0;
  background-color: $color-background;

  &:nth-of-type(1){
    background-color: $color-background-alternate;
    box-shadow: 0px 2px 7px $color-text-secondary;
    position: relative;
  }

  img {
    float: left;
    padding: 30px;
    padding-left: 0;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  h3, h4, h5, h6 {
  }

  h1, h2, h3, h4, h5, h6,
  p, ul, ol, pre, table, blockquote {
    margin: $font-line-height-base 0;
  }

  table{
    border-collapse: collapse;
  }

  td,th {
    border: 1px solid $color-primary;
    padding: 1em;
  }
}