<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Slemgrim.com</title>
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
{{> icons}}
{{> layout}}

<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>