.contact {
    .inputFields {
        overflow: hidden;
        background-color: $color-b-2;
        padding: 16px;
        position: relative;
        z-index: 10;
        max-width: $width-max;
        margin: 0 auto;

        label {
            display: block;
            margin: 10px 0;
        }

        h3 {
            margin: 0;
            padding-bottom: 16px;
            text-align: center;
        }
    }

    .submit {
        opacity: 0;
        margin: 16px auto 0;
        @include transform(translateY(-40px));
        max-width: $width-max;
        position: relative;
        z-index: 9;
        @include transition(all, .3s, ease-out);


        &.submitable {
            opacity: 1;
            @include transform(translateY(0px));
        }
    }

    .success {
        visibility: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        @include transform(translateY(-100%));
        @include transition(all, .8s, ease-out);
        background-color: $color-b-2;

        top: 0;
        left: 0;
        z-index: 1;

        &.show {
            visibility: 1;
            @include transform(translateY(0%));
        }

        .rocketWrap {
            margin: 60px auto 20px;
            width: 200px;
            height: 200px;
            background-color: $color-b-3;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        .rocket:before {
            font-size: 80px;
            @include transform(rotate(45deg));
            transform: rotate(-45deg);
            display: block;
            color: white;
            position: absolute;
            top: 60px;
            left: 60px;
        }

        .rocket.fly {
            @include animation(anim-rocket-fly 2s);
            @include animation-fill-mode(forwards);
            @include animation-delay(1s);
        }

        p {
            text-align: center;
            margin: 0;
        }
    }
}

@include keyframes(anim-rocket-fly) {
    0% {
        @include transform(translateY(0%));
    }
    100% {
        @include transform(translateY(-200px));
    }
}

