<div class="author" id="author" itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{site.data.author.name}}">

    <div class="author_avatar">
        <img alt="{{site.data.author.name}}" itemprop="image" class="author_image" src="{{site.data.author.image}}">
    </div>
    {% if site.data.author.about %}
        <p class="author_description">{{site.data.author.about}}</p>
    {% endif %}

    <p class="author_hire">
        I currently work as lead developer at
        <a itemprop="worksFor" target="_blank" href="{{site.data.author.company.uri}}">
            <span itemscope itemtype="http://schema.org/Organization">{{site.data.author.company.name}}</span>
        </a> but you can <a href='mailto:{{site.data.author.hire}}'>hire</a> me as a consultant.
    </p>

    <aside class="author_social">
        {% include icon-github.html %}
        {% include icon-twitter.html %}
    </aside>
</div>