<div class="list-item">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post_header">
            <h1 class="heading-title" itemprop="name headline"><a class="post_title" href="{{post.url}}">{{ post.title }}</a></h1>
            <p class="post_meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b
                    %-d, %Y" }}
                </time>
            </p>
        </header>

        <div class="post_body" itemprop="articleBody">
            <p>{{ post.summary }}</p>
        </div>
    </article>
</div>