@import "normalize";
@import "sassy-gridlover/sassy-gridlover";

@import
  "config/_color",
  "config/_font",
  "config/_dimensions",
  "config/_breakpoints";

@import
  "utilities/clear-fix",
  "utilities/breakpoint",
  "utilities/grid";

@import
  "components/layout",
  "components/content-wrap",
  "components/header";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-family-default;
  background-color: $color-background;
  color: $color-text;
  @include sassy-gridlover-body()
}