<template>
    <style>
        :host {
            display: flex;
        }

        @media screen and (min-width: 769px) {
            :host {
                flex-direction: column;
            }
        }

        .sidebar {
            background-color: red;
            width: 100%;
        }

        .content {
            background-color: blue;
            width: 100%;
        }
    </style>
    <div class="sidebar">
        <slot name="sidebar"></slot>
    </div>
    <div class="content">
        <slot name="content"></slot>
    </div>
</template>

<script>
    (function(window, document) {
        var ownerDoc =  (document._currentScript || document.currentScript).ownerDocument;
        var template = ownerDoc.querySelector('template').content;
        var MyElementProto = Object.create(HTMLElement.prototype);

        MyElementProto.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = document.importNode(template, true);
            shadowRoot.appendChild(clone);
        };

        window.MyElement = document.registerElement('slem-layout', {
            prototype: MyElementProto
        });
    })(window, document);
</script>