<div class="content-wrap">
    <section class="time-line">
        <h2 class="time-line_title">Education</h2>
        {{>time-item activity-modifier="activity--dark"}}
        {{>time-item activity-modifier="activity--dark"}}
        {{>time-item activity-modifier="activity--dark"}}
    </section>
</div>