<div class="content-wrap">
    <section class="time-line">
        <h2 class="time-line_title">Experience</h2>
        {{>time-item current=true}}
        {{>time-item}}
        {{>time-item}}
    </section>
</div>