<div class="content-wrap">
    <section class="time-line">
        <h2 class="time-line_title">Experience</h2>

        <div class="time-line_item">
            <article class="activity">
                <h3 class="activity_title">Lead Web Developer</h3>
                <span class="activity_subline"><a class="activity_anchor" href="#">karriere.at</a></span>
                <p class="activity_description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum.
                </p>
            </article>
        </div>

        <div class="time-line_item">
            <article class="activity">
                <h3 class="activity_title">Lead Web Developer</h3>
                <span class="activity_subline"><a class="activity_anchor" href="#">karriere.at</a></span>
                <p class="activity_description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum.
                </p>
            </article>
        </div>

        <div class="time-line_item">
            <article class="activity">
                <h3 class="activity_title">Lead Web Developer</h3>
                <span class="activity_subline"><a class="activity_anchor" href="#">karriere.at</a></span>
                <p class="activity_description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum.
                </p>
            </article>
        </div>
    </section>
</div>