<div class="time-item">
    <div class="time-item_duration">
        <span class="time-item_start">07/2009</span>
        <span class="time-item_end">06/2012</span>
    </div>

    <figure class="time-item_bar {{#if current}}time-item_bar--current{{/if}}"></figure>

    <div class="time-item_content">
        {{>activity activity-modifier=activity-modifier}}
    </div>
</div>