/* Background Colors */
$color-b-1: #ffffff;
$color-b-2: #1f2e45; /*contentblock*/
$color-b-3: #0f1a2d; /*background*/
$color-b-4: #090d16; /*header*/

/* Accent Colors */
$color-a-1: #c0c5cc;
$color-a-2: #008c0a; /*highlight-hover*/

/* Font Color */
$color-f-1: #c0c5cc; /*fontcolour*/
$color-f-2: #21334f; /*footer-colour*/

$color-e-1: #d31131;

/* Dimensions */
$width-max: 600px;

/* Fonts */
$font-base: 'Roboto', sans-serif;

$font-size-base: 16px;

/* Breakpoints */
$breakpoint-1: 500px;
$breakpoint-2: 816px;