/* Base Color */

/* Background Colors */

$color-b-1: #ffffff;
$color-b-2: #2f5272;
$color-b-3: #03152b;

/* Primary Colors */
$color-p-1: #a3e9a4;
$color-p-2: #259b24;
$color-p-3: #0a7e07;

/* Accent Colors */
$color-a-1: #ff7ebc;
$color-a-2: #ef3274;
$color-a-3: #ad1546;
$color-a-f: #ffffff;


/* Dimensions */
$width-max: 900px;

/* Fonts */
$font-base: 'Roboto', sans-serif;

$font-size-base: 16px;

/* Breakpoints */
$breakpoint-1: 640px;