/* Base Color */

$color0: #ffffff;
$color1: #263238;
$color2: #eceff1;
$color3: #cfd8dc;

/* Colors usage */

$color-background: $color0;
$color-text: $color1;

$color-border: $color3;

/* Dimensions */
$max-width: 900px;