@mixin content {
  p, ul, ol, table, img, pre, figure, .message, blockquote {
    margin: 0;
    @include sassy-gridlover-margins();
    word-wrap: break-word;
  }

  h1 {
    @extend .heading-title;
  }

  h2 {
    @extend .heading-subtitle;
  }

  h3 {
    @extend .heading-subsubtitle;
  }

  a {
    @extend .link;
  }

  pre {
    background-color: $color-primary;
    padding: $gutter;
  }

  img {
    display: inline;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .img-inline {
    width: auto;
    display: inline;
  }

  blockquote {
    @extend .quote;
  }

  table {
    border-collapse: collapse;
  }

  td,th {
    border: 1px solid $color-background;
    padding: .5em;
    text-align: left;
  }

  video {
    width: 100%;
    height: auto;
  }
}