* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  color: $fontColor;
  background-color: $backgroundColor;
}

a {
  color: $fontColor;
}

#content {
  position: relative;
  z-index: 1;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
}