* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

#outer {
  padding: 20px;
}

#content {
  position: relative;
  z-index: 1;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.copy{
  font-size: $baseFontSize - 5px;
  color: $darkOne;
  position: fixed;
  bottom: 20px;
}

#header {
  position: relative;
  z-index: 100;
}