.footer {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: normal;
    color: $color-f-2;

    a {
        color: $color-f-2;
        @include transition(color, .3s, linear);
        &:hover {
            color: $color-a-2;
        }
    }
}