.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: $color-b-3;
    padding: 0 16px;
    height: 100px;
    .logo {
        margin: 0;
        padding: 20px 0 15px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: $color-f-1;
        font-size: 37px;
        line-height: 30px;
        display: block;
        letter-spacing: 14px;
        font-weight: normal;
    }

    .subline {
        opacity: 1;
        margin: 16px;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 17px;
        font-weight: lighter;
        color: $color-f-1;

        @include transition(opacity, 0.8s, linear);
    }

    .avatar {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid $color-f-1;
        padding: 0;

        position: absolute;
        top: 110px;
        left: 50%;
        margin-left: -35px;

        @include transition(all, 0.8s, ease-in-out);
    }

    &.contracting {
        height: 68px;
        background-color: $color-b-4;
        -webkit-animation: anim-header-contract .8s;

        .subline {
            opacity: 0;
        }

        .avatar {
            top: 8px;
            left: 16px;
            height: 52px;
            width: 52px;
            margin-left: 0;
        }
    }

    &.expanding {
        -webkit-animation: anim-header-expand .8s;
    }
    
    &.contracted {
        overflow: hidden;
        height: 68px;
        background-color: $color-b-4;

        .subline {
            opacity: 0;
        }
        
        .avatar {
            top: 8px;
            left: 16px;
            height: 52px;
            width: 52px;
            margin-left: 0;
        }
    }
}

@-webkit-keyframes anim-header-expand {
    0% {
        background-color: $color-b-4;
        height: 68px;
    }
    100% {
        background-color: $color-b-3;
        height: 100px;
    }
}

@-webkit-keyframes anim-header-contract {
    0% {
        background-color: $color-b-3;
        height: 100px;
    }
    100% {
        background-color: $color-b-4;
        height: 68px;
    }
}

