@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?v2nc11');
    src:url('../fonts/icomoon.eot?#iefixv2nc11') format('embedded-opentype'),
        url('../fonts/icomoon.woff?v2nc11') format('woff'),
        url('../fonts/icomoon.ttf?v2nc11') format('truetype'),
        url('../fonts/icomoon.svg?v2nc11#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
    content: "\e608";
}
.icon-gplus:before {
    content: "\e605";
}
.icon-twitter:before {
    content: "\e606";
}
.icon-xing:before {
    content: "\e607";
}
.icon-speech-bubble:before {
    content: "\e600";
}
.icon-tools:before {
    content: "\e603";
}
.icon-pacman:before {
    content: "\e604";
}
.icon-github:before {
    content: "\e601";
}
.icon-rocket:before {
    content: "\e602";
}
