.content-box {
    @include transform(translateY(-100px));
    opacity: 0;
    width: 100%;

    &.contracted {
        opacity: 0;
        @include transform(scale(.8));
    }

    &.expanded {
        opacity: 1;
        @include transform(translateY(0px));
        @include transform(scale(1));
    }


    &.expanding {
        -webkit-animation: anim-content-box-expand .8s;
    }


    &.contracting {
        -webkit-animation: anim-content-box-contract .8s;
    }
}

@-webkit-keyframes anim-content-box-expand {
    0% {
        opacity: 0;
        @include transform(translateY(-100px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0px));
    }
}

@-webkit-keyframes anim-content-box-contract {
    0% {
        opacity: 1;
        @include transform(scale(1));
    }
    100% {
        opacity: 0;
        @include transform(scale(.8));
    }
}