.menu {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 4px;
        float: left;
        width: 50%;
    }

    .node {
        display: block;
        text-align: left;
        padding: 4px 20px;
        color: $color-f-1;
        background-color: $color-b-2;
        text-decoration: none;

        &.active {
            background-color: $color-a-2;
        }
    }
}