.menu {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 0;
        float: left;
        width: 50%;
    }
    
    .node {
        display: block;
        text-align: center;
        padding: 4px;
        border: 1px solid blue;
    }
} 