.header_section {
  padding: $gutter;
  background-color: $color-primary;
  color: $color-text-primary;
}

.header_logo {
  @include sassy-gridlover-heading(2);
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.header_subline {
  @include sassy-gridlover-heading(1);
  display: block;
}