<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
        {% capture include_to_scssify %}
        {% include amp/amp.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
    <div class="page-container">
        {% capture header %}
        {% include header.html %}
        {% endcapture %}
        {{ header | amp_images }}
        <div class="page-content">
            <main>
                <section class="page-section">

                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
                        <meta itemprop="mainEntityOfPage" content="{{page.url}}">

                        {% if page.thumbnail %}
                        <meta itemprop="image" content="{{ page.thumbnail | prepend: site.url }}">
                        {% endif %}

                        <header class="post_header">
                            <h1 class="heading-title" itemprop="headline">{{ page.title }}</h1>
                            <p class="post_meta">
                                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:
                                    "%b
                                    %-d, %Y" }}
                                </time>
                            </p>
                        </header>

                        <div class="post_body content" itemprop="articleBody">
                            {{ page.body | markdownify | amp_images }}
                        </div>
                    </article>
                </section>

                <section class="page-section">
                    {% capture author %}
                    {% include author.html %}
                    {% endcapture %}
                    {{ author | amp_images }}
                </section>
            </main>
        </div>

        {% capture footer %}{% include footer.html %}{% endcapture %}
        {{ footer | amp_images: true, 24, 24 }}
    </div>
    </header>
</body>
</html>