@mixin clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($point) {
  @media (min-width: $point) { @content ; }
}

@mixin anchor {
  color: $color-accent;
  text-decoration: none;
}